<form data-abide>
  <div class="row text-center">
  	<h5>Customize My Trip</h5>
  	<h6 class="subheader">(Optional)</h6>
  </div>
  <div class="row">
    <span data-tooltip class="has-tip" title="click here for a list of 3 letter country codes">
      <label><%= link_to '3 Letter Country Code', 'http://www.worldatlas.com/aatlas/ctycodes.htm' %></label>
    </span>
      <input type="text" id="country-code" placeholder="USA, CAN, THA, RUS...etc" autofocus maxlength="3" pattern="[A-Z][A-Z][A-Z]">
      <small class="error">Country Code is Invalid</small>
  </div>
  <div class="row">
    <label>State/Province</label>
    <input type="text" id="province" placeholder="NY, MD, WA, CA...etc" maxlength="2" pattern="[A-Z][A-Z]">
    <small class="error">State or Province is Invalid</small>
  </div>
  <div class="row">
    <label>City</label>
    <input type="text" id="city" placeholder="New York, Toronto...etc" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">
    <small class="error">City is Invalid</small>
  </div>
  <div class="row">
  	<label>Check-in Date</label>
  	<input type="date" id="checkin" placeholder="2014-01-01" pattern="datetime">
    <small class="error">Date is Invalid</small>
  </div>
  <div class="row">
    <label>Length of Stay (Days)</label>
    <input type="text" id="days" placeholder="3" min=1 pattern="^[1-9]\d*$">
    <small class="error">Length of stay is Invalid</small>
  </div>
  <div class="row">
    <label>Max Price</label>
    <input type="text" id="max-price" placeholder="USD" min=1 pattern="^[1-9]\d*$">
    <small class="error">Price has to be an integer</small>
  </div>
  <div class="row">
  	<label>Min Hotel Star Rating</label>
    <select>
  		<option name="minStarRating" value="1" id="One Star"><label for="One Star">One Star</option>
  		<option name="minStarRating" value="2" id="Two Star"><label for="Two Star">Two Star</option>
  		<option name="minStarRating" value="3" id="Three Star"><label for="Three Star">Three Star</option>
  		<option name="minStarRating" value="4" id="Four Star"><label for="Four Star">Four Star</option>
  		<option name="minStarRating" value="5" id="Five Star"><label for="Five Star">Five Star</option>
     </select>
  </div>
</form>
<div class="row text-center">
  <button id="submit">filter</button>
  <%= link_to 'reset', '/', :class => 'button' %>
</div>
