<div class="row">
	<div class="text-center">
		<h1><%= link_to 'Where Should I Go For Vacation', root_path %></h1>
		<h5>Check-in Date: <%= @date %></h5>
		<h6>Click on the Image For More Details | Sorted by Best Deals!</h6>
	</div>
	<div class="medium-3 large-2 columns">
		<%= render 'customize' %>
	</div>

	<div class="medium-9 large-10 columns">
		<%= render 'deals' %>
	</div>
</div>
